<header>
    <nav>
        <ul class='nav_links'>
            <li><a href='/'><img class='logo' src="/Assets/newlogo.png" alt='Logo'></a></li>
            <li><a href='/'>Hem</a></li>
            <li><a href='/discussion'>Diskussioner</a></li>
        </ul>
    </nav>
    
    <a class='cta' href='/contact'><button>Kontakt</button></a>
</header>