<!DOCTYPE html>
    <html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        
        <link rel='stylesheet' href='style.css'>
        <link rel='preconnect' href='https://fonts.googleapis.com'>
        <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
        <link href='https://fonts.googleapis.com/css2?family=Inter+Tight:wght@700;800&display=swap' rel='stylesheet'>
        
        <title>Litary | <%= title %></title>
        <style> *{overflow: hidden;}</style>
    </head>

    <body>
        <h1>About this site</h1>
    
        <header>
            <a href='/'><img class='logo' src='Assets/Litary Logo.png' alt='Logo'></a>
            
            <nav>
                <ul class='nav_links'>
                    <li><a href='/'>Home</a></li>
                    <li><a href='/discussion'>Discussion</a></li>
                    <!--<li><a href='/about'>About</a></li>-->
                </ul>
            </nav>
            
            <a class='cta' href='/contact'><button>Contact</button></a>
        </header>
        <div class='rightcorner'></div>
    </body>
    </html>