<!DOCTYPE html>
    <html lang='en'>
    
        <%- include('./partials/head.ejs')%>

    <body>
        <div class="contact_content">
            <h1>Kontakta Utvecklaren:</h1>
            <p>Copyright &#169; 2022-present, Ebbe Karlstad. All Rights Reserved.</p><br>
            <a href = "mailto: skateebbe@gmail.com">Maila mig något här!</a>
        </div>
        <%- include('./partials/nav.ejs')%>

        <div class='rightcorner'></div>
        <div><img src = '../Assets/laptop.png' id='laptop'></div>
        <div><img src = '../Assets/book.png' id="book"></img></div>

    </body>
    </html>