<!DOCTYPE html>
    <html lang='en'>
    
        <%- include('./partials/head.ejs')%>

    <body>

        <h1>Diskutera dina favorit-<br>böcker online!</h1>
        <div class="small_title"><p>Skapa en recension:</p></div>
        <a href='/create'><img src = "../Assets/add 2.png" id="add"></img></a>

        <%- include('./partials/nav.ejs')%>

        <div class='rightcorner'></div>
        <div><img src = '../Assets/laptop.png' id='laptop'></div>
        <div><img src = '../Assets/book.png' id="book"></img></div>

    </body>
</html>